// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to zcorps sheets */
.zcorps {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  
  background-color: red;
}
.actor {
  @import 'components/actor-sheet';
}



.item {
  .window-content {
    .sheet-body {
      .hidden {
          border: 1px dashed gray;
          margin-top: 30px;
      }
      .category {
        margin-top: 20px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid gray;
        &-title {
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 10px;
        }
        &-body {
          display: flex;
          flex-direction: row;
          align-content: center;
          width: 100%;
        }
        &-element {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          .input-short {
            max-width: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}

#logo {
  border-radius: 50%;
  width: 75px;
  height: 100px;
}

body {
  background-image: linear-gradient(rgba(192, 18, 18, 0.822), #2225), url(../ui/background.jpg);
  background-position: bottom right;
  box-shadow: 20px 0 50vw 10vw $zcorps-red-darker inset;
}
.app.bonus {
  
  .window-header {
    background-color: $zcorps-red;
  }
  .window-content {
    background-image: none;
    background-color: #222;
    .hidden {
      display: none;
      color: b;
    }
    .range-selection {
      display: flex;
      flex-direction: column;
      datalist {
        margin-top: 3px;
        width: 100%;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5px;
        color: $c-white;
        background-color: none;
        option {
          background-color: inherit;
        }
      }
      input[type=range] {
        &::-webkit-slider-runnable-track {
          background-color: #111;
          border: none;
          box-shadow: none;
        }
        &::-webkit-slider-thumb {
          background-color: $c-white;
          box-shadow: none;
          border: none;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          margin-top: -7px;
        }
      }
    }
  }
  .bonus-dialog {
    color:$c-white;
  }
}
