$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$zcorps-red-a : rgba(104, 28, 28, 0.5);
$zcorps-red : rgb(104, 28, 28);
$zcorps-red-dark : rgb(77, 31, 31);
$zcorps-red-darker: rgb(56, 27, 27);
$zcorps-red-light : rgb(146, 32, 32);