<div>
  <span class="level-title">Points de Personnage</span> :
  <span>
    <input name="data.attributes.xp.value" type="number" value="{{attributes.xp.value}}" placeholder="XP" class="number"/>
    / 
    <input name="data.attributes.xp.total" type="number" value="{{attributes.xp.total}}" placeholder="XP" class="number"/>
  </span>
</div>
<div>
  <span class="level-title">Points de Cojones</span> :
  <span>
    <input name="data.attributes.cojones.value" type="number" value="{{attributes.cojones.value}}" placeholder="cojones" class="number"/>
    / 
    <input name="data.attributes.cojones.total" type="number" value="{{attributes.cojones.total}}" placeholder="cojones" class="number"/>
  </span>
</div>
