<ul class="carac">
  {{#each caracs as |carac id|}}
    <li data-item-id="{{caracs.name}}">
      <div class="carac-title">
        <div>{{carac.name}}</div>
        {{log actor.editSheet}}
        {{#if (editSheet actor.editSheet)}}
          <input type="number" name="{{carac.name}}" value="{{carac.value}}">
          <p>test</p>
        {{else}}
          <div>{{carac.value}}D</div>
        {{/if}}
      </div>
      
      <ul class="skills">
        {{#each carac.skills as |skill id|}}
          <li><div>{{skill.name}}</div><div>{{skill.value}}D <i class="fas fa-dice-d6"></i></div></li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

Parts cont

{{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          
          <ul class="caracteristics-block">
            {{#each caracs as |carac caracId|}}
              <li class="caracteristic" data-item-id="{{caracs.name}}">
                <div class="caracteristic-info">
                  <span class="caracteristic-title"><a class="rollable" data-roll="{{carac.formula}}" data-label="{{carac.name}}" title="appuyer sur MAJ pour utiliser des points de personnage/cojones"><i class="fas fa-dice-d6"></i></a> {{carac.name}}</span>
                  
                  <div class="level-block-right">
                    
                    {{#if ../actor.editSheet}}
                    <input class="setDice" type="text" name="data.caracs.{{caracId}}.value" value="{{carac.value}}" data-dtype="number"/>
                    {{else}}
                    <div>{{carac.value}}D</div>
                    {{/if}}
                    <div class="level-block">
                      <div class="tiers">
                        <span class="tier {{#if carac.tiers.carac_1}}checked{{/if}} {{#if ../actor.editSheet}}tiers-editable{{/if}}" data-tier="1" data-carac="{{caracId}}"></span>
                        <span class="tier {{#if carac.tiers.carac_2}}checked{{/if}} {{#if ../actor.editSheet}}tiers-editable{{/if}}" data-tier="2" data-carac="{{caracId}}"></span>
                      </div>
                    </div>
                </div>
                </div>
                
                <ul class="skills-block {{#if ../../actor.editSheet}}list-style-none{{/if}}">
                  {{#each carac.skills as |skill skillId|}}
                    <li class="skill item {{#if skill.owned}}owned{{/if}} {{#if ../../actor.editSheet}}list-style-none{{/if}}" data-skill="{{skillId}}" data-item_id="{{skill.id}}">
                      <div class="skill-info ">
                        {{#if ../../actor.editSheet}}
                          <span class="checkbox {{#if skill.owned}}checked{{/if}}" data-carac="{{caracId}}" data-skill="{{skillId}}"></span><!--<input type="checkbox" name="data.caracs.{{caracId}}.skills.{{skillId}}.owned" {{#if skill.owned}}checked{{/if}}/>-->
                        {{/if}}
                        <span class="skill-title"> <a class="rollable" data-roll="{{skill.formula}}" data-label="{{skill.name}}" title="appuyer sur MAJ pour utiliser des points de personnage/cojones"><i class="fas fa-dice-d6"></i></a> {{skill.name}}</span>
                        
                        <div class="level-block-right">
                          {{#if ../../actor.editSheet}}
                          {{#if skill.owned}}
                            <input class="setDice" type="text" name="data.caracs.{{caracId}}.skills.{{skillId}}.value" value="{{skill.value}}" data-dtype="number"/>
                            {{else}}
                            <span>{{showTotalForSkill skill.total}}</span>
                          {{/if}}
                          {{else}}
                          <span>{{showTotalForSkill skill.value_augmented}}</span>
                          {{/if}}
                          {{#if ../../actor.editSheet}}
                            <div class="level-block">
                              <div class="tiers">
                                <span class="tier {{#if skill.tiers.skill_1}}checked{{/if}} {{#if skill.owned}}tiers-editable{{/if}}" data-tier="1" data-carac="{{caracId}}" data-skill="{{skillId}}" {{#if skill.added}}data-id="{{skill.id}}"{{/if}}></span>
                                <span class="tier {{#if skill.tiers.skill_2}}checked{{/if}} {{#if skill.owned}}tiers-editable{{/if}}" data-tier="2" data-carac="{{caracId}}" data-skill="{{skillId}}" {{#if skill.added}}data-id="{{skill.id}}"{{/if}}></span>
                              </div>
                            </div>
                              {{#if skill.added}}
                              <div>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                              </div>
                              {{/if}}
                            {{else}}
                            <div class="level-block">
                              <div class="tiers">
                                <span class="tier {{#if skill.tiers.skill_1_augmented}}checked{{/if}}"></span>
                                <span class="tier {{#if skill.tiers.skill_2_augmented}}checked{{/if}}"></span>
                              </div>
                            </div>
                            {{/if}}
                        </div>
                        
                      </div>
                      <ul class="specialisations">
                        {{#each ../../specialisation as |spec specId|}}
                          {{#if (checkSpecialisation spec skillId)}}
                            <li class="specialisation item" data-item-id="{{spec._id}}">
                              <div>- {{spec.name}}</div><div>{{spec.data.value}} <a class="item-control item-delete" title="Delete Item">
                                {{#if ../../../actor.editSheet}}
                                  <i class="fas fa-trash"></i></a></div>
                                {{/if}}
                            </li>
                          {{/if}}
                        {{/each}}
                      </ul>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </section>