<form class="bonus-dialog">
    <div class="form-group">
        <p class="XPBTN">XP <span id="xp-range-value">0</span> (Points disponibles: {{available}})</p>
        <div class="range-selection">{{createRange limit available}}</div>
    </div>
    <input type="text" value="0" class="formula_bonus" name="formula_Bonus" />
</form>