<form class="{{cssClass}} {{actor.type}} flexcol characSheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <button class="edit-sheet-btn"><i class="fas fa-pencil-alt"></i></button>
    <div class="header-block profile flex0">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <h1>
        {{#if actor.editSheet}}
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        {{else}}
          {{actor.name}}
        {{/if}}
      </h1>
    </div>
    <div class="header-block character-infos flex1">
      <div class="info">
        <label for="pseudo">{{localize 'ZCORPS.attributes.nickname'}} :</label>
        {{#if actor.editSheet}}
          <input name="system.attributes.pseudo" type="text" value="{{attributes.pseudo}}" placeholder="Pseudo" class="text"/>
        {{else}}
          <span>{{attributes.pseudo}}</span>
        {{/if}}
      </div>
      <div class="info">
        <label for="carriere">{{localize 'ZCORPS.attributes.carriere'}} :</label>
        {{#if actor.editSheet}}
          <input name="system.attributes.carriere" type="text" value="{{attributes.carriere}}" placeholder="carriere" class="text"/>
        {{else}}
          <span>{{attributes.carriere}}</span>
        {{/if}}
      </div>      <div class="info">
        <label for="age">{{localize 'ZCORPS.attributes.age'}} :</label>
        {{#if actor.editSheet}}
          <input name="system.attributes.physical.age" type="text" value="{{attributes.physical.age}}" placeholder="Age" class="number"/>
        {{else}}
          <span>{{attributes.physical.age}}</span>
        {{/if}}
      </div>
      <div class="info">
        <label for="height">{{localize 'ZCORPS.attributes.height'}} :</label>
        {{#if actor.editSheet}}
          <input name="system.attributes.physical.height" type="text" value="{{attributes.physical.height}}" placeholder="Taille" class="number"/>
        {{else}}
          <span>{{attributes.physical.height}}</span>
        {{/if}}
      </div>
      <div class="info">
        <label for="weight">{{localize 'ZCORPS.attributes.weight'}} :</label>
        {{#if actor.editSheet}}
          <input name="system.attributes.physical.weight" type="text" value="{{attributes.physical.weight}}" placeholder="Poids" class="number"/>
        {{else}}
          <span>{{attributes.physical.weight}}</span>
        {{/if}}
      </div>
      <div class="info">
        <label for="gender">{{localize 'ZCORPS.attributes.gender'}} :</label>
        {{#if actor.editSheet}}
          <select name="system.attributes.physical.gender" id="system.attributes.physical.gender">
            {{#select attributes.physical.gender}}
            {{selectOptions genderType selected=value nameAttr=key}}
            {{/select}}
          </select>
        {{else}}
          <span>{{attributes.physical.gender}}</span>
        {{/if}}
      </div>
      <div class="info">
        <label for="mouvement">Mouvement</label>
        
        <span>{{attributes.movement}} m</span>
      </div>
      <div class="info">
        <label class="info-title-sm" for="dammageBonus">Bonus aux dégâts</label>
        <span>{{attributes.dammageBonus}}D &nbsp;&nbsp;<a class="rollable" data-roll="{{attributes.dammageBonus}}D+0" data-label="Bonus aux dégâts"> <i class="fas fa-dice-d6"></i></a></span>
      </div>
    </div>
    <div class="header-block levels">
      <div class="level">
        <span class="level-title">{{localize 'ZCORPS.attributes.injuriesLevel'}}</span>
        <select name="system.attributes.health" class="healthAndStressLevel">
          {{#select attributes.health}}
           {{selectOptions healthLevel selected=value attr=key}}
          {{/select}}
        </select>
      </div>
      <div class="level">
        <span><span class="level-title">{{localize 'ZCORPS.attributes.stressLevel'}}</span> &nbsp;&nbsp;=>&nbsp;&nbsp; <a class="stressTest rollable" data-label="Test de résistance au stress" data-carac="Présence" data-stress="true" data-roll="{{caracs.presence.skills.volonte.formula}}"><i class="fas fa-dice-d6"></i></a></span>
        <select name="system.attributes.stress" class="healthAndStressLevel">
          {{#select attributes.stress}}
           {{selectOptions stressLevel selected=value attr=key}}
          {{/select}}
        </select>
      </div>
      <div class="level">
        <!-- <span class="level-title">Points de Personnage</span> -->
        <div class="resource-content flexrow flex-center flex-between">
          <span class="level-title">Points de Personnage</span> :
          <span>{{attributes.xp.value}} / {{attributes.xp.total}}</span>
          <span class="use-bonus flex0"><i id="bonus_xp" class="bonus-icon fas fa-square" data-bonus="false"></i></span>
        </div>
      </div>
      <div class="level">
        <div class="resource-content flexrow flex-center flex-between">
          <span class="level-title">Points de Cojones</span> :
          <span>{{attributes.cojones.value}} / {{attributes.cojones.total}}</span>
          <span class="use-bonus flex0"><i id="bonus_cojones" class="bonus-icon fas fa-square" data-bonus="false"></i></span>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Fiche de Perso</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="assets">Equipements</a>
    {{#if isGM }}
    <a class="item" data-tab="config">Config</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="tab features caracteristics" data-group="primary" data-tab="features">
      <section class="grid grid-1col" style="margin-top:0;">

        {{> "systems/zcorps/templates/actor/parts/actor-caracs.html"}}

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab desc" data-group="primary" data-tab="description" style="padding:5px">
      {{> "systems/zcorps/templates/actor/parts/actor-description.html"}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      <div>
          {{> "systems/zcorps/templates/actor/parts/actor-combat.html"}}
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab assets" data-group="primary" data-tab="assets">
    	<div style="display:grid; grid-template-columns: 1fr 3fr;">
    	<div>
    		<textarea style="height: 550px;resize: none; color: white;border:solid white 1px" name="system.attributes.inventaire">{{attributes.inventaire}}</textarea>
    	</div>
    	<div>
	       {{> "systems/zcorps/templates/actor/parts/actor-items.html"}}
    	</div>
    	</div>
    </div>

    {{#if isGM }}
    <div class="tab config" data-group="primary" data-tab="config">
      <div>
      {{> "systems/zcorps/templates/actor/parts/actor-configs.html"}}
      </div>
    </div>
    {{/if}}
    

  </section>
</form>

