<form class="{{cssClass}} {{actor.type}} flexcol characSheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <button class="edit-sheet-btn"><i class="fas fa-pencil-alt"></i></button>
    <div class="profile-card">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <h1 class="profile-character-name">
        {{#if actor.editSheet}}
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name" class="attr-input"/>
        {{else}}
          {{actor.name}}
        {{/if}}
      </h1>
    </div>
    <div class="character-attr">
      <div class="physical">
        <div class="attributes-element">
          {{#if actor.editSheet}}
            <label for="pseudo">Pseudo :</label>
            <input name="data.attributes.pseudo" type="text" value="{{attributes.pseudo}}" placeholder="Pseudo" class="attr-input"/>
          {{else}}
            <span>Pseudo : {{attributes.pseudo}}</span>
          {{/if}}
        </div>
        <div class="attributes-element">
          {{#if actor.editSheet}}
            <label for="age">Age :</label>
            <input name="data.attributes.physical.age" type="text" value="{{attributes.physical.age}}" placeholder="Age" class="attr-input"/>
          {{else}}
            <span>Age : {{attributes.physical.age}}</span>
          {{/if}}
        </div>
        <div class="attributes-element">
          {{#if actor.editSheet}}
            <label for="height">Taille :</label>
            <input name="data.attributes.physical.height" type="text" value="{{attributes.physical.height}}" placeholder="Taille" class="attr-input"/>
          {{else}}
            <span>Taille : {{attributes.physical.height}}</span>
          {{/if}}
        </div>
        <div class="attributes-element">
          {{#if actor.editSheet}}
            <label for="weight">Poids :</label>
            <input name="data.attributes.physical.weight" type="text" value="{{attributes.physical.weight}}" placeholder="Poids" class="attr-input"/>
          {{else}}
            <span>Poids : {{attributes.physical.weight}}</span>
          {{/if}}
        </div>
        <div class="attributes-element">
          {{#if actor.editSheet}}
            <label for="gender">Genre :</label>
            <select name="data.attributes.physical.gender" id="data.attributes.physical.gender" class="arme-type">
              {{#select attributes.physical.gender}}
              {{selectOptions genderType selected=value nameAttr=key}}
              {{/select}}
            </select>
          {{else}}
            <span>Genre : {{attributes.physical.gender}}</span>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="healthAndStressLevel">
      <div class="level">
        <span>Niveau de blessures</span>
        <select name="data.attributes.health" class="healthAndStressLevel">
          {{#select data.attributes.health}}
           {{selectOptions healthLevel selected=value attr=key}}
          {{/select}}
        </select>
      </div>
      <div class="level">
        <span>Niveau de stress</span>
        <select name="data.attributes.stress" class="healthAndStressLevel">
          {{#select data.attributes.stress}}
           {{selectOptions stressLevel selected=value attr=key}}
          {{/select}}
        </select>
      </div>
      <div class="level">
        <label for="data.attributes.xp" class="resource-label">Point de Personnage</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.xp.value" value="{{data.attributes.xp.value}}" data-dtype="Number"/>
            <span> / {{data.attributes.xp.total}}</span>
          </div>
      </div>
      <div class="level">
        <label for="data.attributes.cojones" class="resource-label">Point de Cojones</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.cojones.value" value="{{data.attributes.cojones.value}}" data-dtype="Number"/>
            <span> / {{data.attributes.cojones.total}}</span>
          </div>
      </div>
    </div>
    
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Fiche de Perso</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="assets">Equipements</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features caracs" data-group="primary" data-tab="features">
      <section class="grid grid-1col" style="margin-top:0;">

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          
          <ul class="carac">
            {{#each caracs as |carac caracId|}}
              <li data-item-id="{{caracs.name}}">
                <div class="carac-title">
                  <div>{{carac.name}}</div>
                  {{#if ../actor.editSheet}}
                    <input class="setDice" type="text" name="data.caracs.{{caracId}}.value" value="{{carac.value}}" data-dtype="number"/>
                  {{else}}
                    <div>{{carac.value}}D <a class="rollable" data-roll="{{carac.value}}" data-label="{{carac.name}}"><i class="fas fa-dice-d6"></i></a></div>
                  {{/if}}
                  
                </div>
                
                <ul class="skills">
                  {{#each carac.skills as |skill skillId|}}
                    <li class="carac-li">
                      <div class="skill {{#if skill.owned}}owned{{/if}}">
                        <div >
                          {{#if ../../actor.editSheet}}
                            <input type="checkbox" name="data.caracs.{{caracId}}.skills.{{skillId}}.owned" {{#if skill.owned}}checked{{/if}} class="skillCheckbox error"/>
                          {{/if}}
                          {{skill.name}}
                        </div>
                        {{#if ../../actor.editSheet}}
                          <input class="setDice" type="text" name="data.caracs.{{caracId}}.skills.{{skillId}}.value" value="{{skill.value}}" data-dtype="number"/>
                        {{else}}
                        <div>{{showTotalForSkill skill.total}} <a class="rollable" data-roll="{{skill.total}}" data-label="{{skill.name}}"><i class="fas fa-dice-d6"></i></a></div>
                        {{/if}}
                      </div>
                      <ul class="specialisations">
                        {{#each ../../specialisation as |spec specId|}}
                          {{#if (checkSpecialisation spec skillId)}}
                            <li class="specialisation item" data-item-id="{{spec._id}}">
                              <div>- {{spec.name}}</div><div>{{spec.data.value}} <a class="item-control item-delete" title="Delete Item">
                                {{#if ../../../actor.editSheet}}
                                  <i class="fas fa-trash"></i></a></div>
                                {{/if}}
                            </li>
                          {{/if}}
                        {{/each}}
                      </ul>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab assets" data-group="primary" data-tab="assets">
       {{> "systems/zcorps/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/zcorps/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

