<form class="chat-actions-card">
    {{log data.dice}}
    <p>Nouveau jet</p>
    <ul class="base_dice">
        {{#each (getDiceByColor data.dice 'black') as |dice key|}}
            {{dice.}}
        {{/each}}
    </ul>
    
</form>