<form>
    {{log this}}
    <p>Nouveau jet</p>
    <ul>
        {{#each this as |item key|}}
            <li>
                {{parseResults item}}
                
            </li>
        {{/each}}
    </ul>
    
</form>